<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression">

	<test name="Account Manager Login Test">
		<classes>
			<class name="com.totalamber.qa.WQTest.WQBackOfficeLoginTest">
				<methods>
					<include name="verify_The_Page_Browser_Title" />
					<include name="verify_Sign_In_Text" />
					<include name="verify_The_Page_Content" />
					<include name="verify_The_Availiability_Of_The_DropDown" />
					<include name="verify_User_Can_Select_The_Sign_In_Option_From_The_DropDown" />
					<include name="verify_Login_as_BO_Users" />
					<include name="verify_Login_Leads_To_Account_Manager_Dashboard_Page" />
				</methods>
			</class>
		</classes>
	</test>


	<test name="Account Manager Dashboard Test">
		<classes>
			<class name="com.totalamber.qa.WQTest.WQAMDashboardTest">
				<methods>

					<include name = "verify_PendingClientsTable_Available" />
					<include name = "verify_TableHeaderText_PendingClientsTable_Table_Available" />

				</methods>
			</class>
		</classes>
	</test>
</suite>